# Existing project requirements
accelerate
bitsandbytes
blobfile
datasets
einops
huggingface-hub
hydra-core
hydra-joblib-launcher
hydra-ray-jobs-launcher
hydra-submitit-launcher
hydra_colorlog
ipykernel
jupyter
line_profiler
line_profiler[ipython]
lxml
matplotlib
natsort
numpy
omegaconf
openai
pandas
pre-commit
pycryptodomex
python-dotenv
pyvene
pyyaml
ray[default]
safetensors
scikit-learn
seaborn
simple-parsing
tiktoken
torch
tqdm
transformers
wandb

