accelerate
datasets
einops
huggingface-hub
natsort
safetensors
simple-parsing
torch
transformers
bitsandbytes
hydra-core
wandb
scikit-learn
ipykernel
jupyter
matplotlib
line_profiler
line_profiler[ipython]